@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Quicksand&display=swap");

@font-face {
  font-family: "AmericanCaptain";

  src: url(fonts/American\ Captain.ttf);

  font-weight: normal;

  font-style: normal;
}

body {
  font-family: "QuickSand";
  font-weight: normal;
  margin: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: none;
}

@media (max-width: 500px) {
  .dropdown {
    display: block;
    float: left;
    overflow: hidden;
    width: 62%;
  }
}

.dropdown .dropbtn {
  font-size: 16px;
  position: relative;
  left: 70%;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 0%;
  top: 102%;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px solid;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(black, transparent);
  position: absolute;
  margin-top: 0;
}

.header > ul {
  display: flex;
  gap: 80px;
  font-size: 1.3rem;
  list-style-type: none;
  padding-top: 20px;
  height: 2rem;
}

@media (max-width: 500px) {
  .header > ul {
    display: none;
  }
}

.header > ul > a {
  text-decoration: none;
  color: #ededed;
}

.logoLobosContainer {
  display: flex;
  justify-content: center;
}

.logoLobosContainer > img:nth-child(1) {
  height: auto;
  width: 35%;
}

.topcontainer {
  display: flex;
  max-width: 1920;
  width: 100%;
  margin-top: 0;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* background-image: url(images/lobos.png);
  background-size: contain; */
}

@media (max-width: 500px) {
  .topcontainer {
    display: flex;
    max-width: 1920;
    width: 100%;
    margin-top: 0;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.slogan {
  position: absolute;
  padding-bottom: 150px;
  font-size: 10vmin;
  color: beige;
}

@media (max-width: 500px) {
  .slogan {
    position: absolute;
    top: 37%;
    padding-bottom: 150px;
    font-size: 25vmin;
    color: beige;
  }
}

.since {
  position: absolute;
  font-size: 16px;
  color: beige;
}

@media (max-width: 500px) {
  .since {
    position: absolute;
    font-size: 12px;
    color: beige;
  }
}

.topcontainer > img {
  width: inherit;
  height: auto;
}

@media (max-width: 500px) {
  .topcontainer > img {
    height: 100%;
    object-fit: cover;
  }
}

.historiasectioncontainer {
  color: black;
}

.historiacontainer {
  display: flex;
  justify-content: center;
  background-image: url(images/lobosbgRectangleClear.png);

  box-shadow: 0px 7px 20px 1px #000000 inset;
}

.historiatext {
  width: 88%;
  font-family: "Quicksand", sans-serif;
  font-size: 2vw;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: justify;
}

@media (max-width: 500px) {
  .historiatext {
    width: 75%;
    font-size: 4vw;
  }
}

.fotosmaincontainer {
  display: flex;
  justify-content: center;
  background-image: url(images/lobos2.png);
  object-fit: cover;
}

.fotosmaincontainer > .fotoscontainer > .fotos > .fotostodas > iframe {
  border-radius: 50px;
  box-shadow: 2px 2px 20px white;
}

.fotoscontainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fotos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
}

.fotostodas {
  display: flex;
  gap: 40px;
}

@media (max-width: 500px) {
  .fotostodas {
    display: none;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .primeras3 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .fotos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
  }
}

.contactocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
  color: blueviolet;
}

.entrenacontainer {
  font-size: 60px;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.contacto > ul {
  list-style-type: none;
}

/* ///NUESTROS EQUIPOS/// */

.pushwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 120px;
}

.teamscontainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  padding-top: 200px;
}

@media (max-width: 500px) {
  .teamscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 22%;
    gap: 2%;
  }
}

.equiposimg {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.equipomixtocontainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.leyendaequipomixto {
  position: absolute;
  top: 76.5%;
  font-size: 4vw;
  height: 22%;

  background: linear-gradient(rgba(255, 255, 255, 0), rgb(117, 117, 117));
}

@media (max-width: 500px) {
  .leyendaequipomixto {
    position: absolute;
    top: 76%;
    font-size: 6vh;
  }
}

.equipofemenilcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.leyendaequipofemenil {
  position: absolute;
  top: 78.8%;
  font-size: 4vw;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(117, 117, 117));
  height: 20.5%;
}

@media (max-width: 500px) {
  .leyendaequipofemenil {
    position: absolute;
    top: 78%;
    font-size: 6vh;
  }
}

.equipovaronilcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.leyendaequipovaronil {
  position: absolute;
  top: 76.5%;
  font-size: 4vw;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(117, 117, 117));
  height: 22%;
}

@media (max-width: 500px) {
  .leyendaequipovaronil {
    position: absolute;
    top: 76.5%;
    font-size: 6vh;
  }
}

footer {
  background-color: yellow;
  height: 80px;
  width: 100%;
}

/* ROSTER JUGADORES */

.equiposWrapperContainer {
  display: grid;
  justify-content: center;
  height: 100vh;
  background-color: gray;
}

.playercard {
  font-family: "americancaptain";
  grid-template-columns: 1fr 5fr 3fr 5fr 1fr;
  grid-template-rows: 0.2fr 1fr 1.2fr;
  background-color: #ededed;
  height: 27rem;
  width: 37rem;

  box-shadow: 0px 0px 15px 5px #000000;
}

.cancelIconContainer {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.playercardhr {
  border: none;
  height: 2px;
  background-color: #e30613;
  width: 100%;
}

.playercardInfo {
  display: flex;
  flex-direction: column;
  grid-column-start: 4;
  grid-row-start: 2;
  font-size: 1.5rem;
}

.playercardName {
  font-weight: bold;
  font-size: 2.3rem;
}

.playercardPosition {
  font-size: 1.9rem;
}

.playercardFoto {
  grid-column-start: 2;
  grid-row-start: 3;
}

.equiposwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 80px;
  background-color: gray;
}

@media (max-width: 500px) {
  .equiposwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 0;
    background-color: gray;
  }
}

.tituloequipo {
  font-size: 100px;
  padding-bottom: 80px;
  text-align: center;
}

@media (max-width: 500px) {
  .tituloequipo {
    font-size: 5vh;
    padding-bottom: 10%;
  }
}

.wrapperrosterA {
  display: flex;
  flex-direction: column;
}

.titulorosterA {
  font-size: 80px;
  padding-bottom: 15px;
}

@media (max-width: 500px) {
  .titulorosterA {
    font-size: 2vh;
    padding-bottom: 30px;
  }
}

.rosterA {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

@media (max-width: 500px) {
  .rosterA {
    display: grid;
    height: 245px;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-bottom: 10%;
  }
}

.player {
  max-width: 186px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  position: relative;
  transition: 0.6s ease-out;
  box-shadow: 0 1px 10px wheat;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .player {
    max-width: 95px;
    height: 103px;
    display: flex;
    align-items: flex-end;
    position: relative;
    transition: 0.6s ease-out;
    box-shadow: 0 1px 10px wheat;
  }
}

.player:hover {
  transform: translateY(15px);
}

.player:hover:before {
  opacity: 1;
}

.player:hover .playerinfo {
  opacity: 1;
  transform: translateY(0);
}

.player:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(26, 25, 25), transparent);
  border-radius: 10px;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.player .playerinfo {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
}

.player > img {
  position: absolute;
  width: 186px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .player > img {
    position: absolute;
    width: 95px;
    height: auto;
    border-radius: 10px;
  }
}

.playerinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.playername {
  font-size: 20px;
  font-weight: 700;
}

.edad {
  padding-top: 10px;
  font-size: 18px;
}

.wrapperrosterB {
  display: flex;
  flex-direction: column;
}

.titulorosterB {
  font-size: 80px;
  padding-bottom: 15px;
}

@media (max-width: 500px) {
  .titulorosterB {
    font-size: 2vh;
    padding-bottom: 30px;
  }
}

.rosterB {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

@media (max-width: 500px) {
  .rosterB {
    display: grid;
    height: 245px;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
  }
}

/* ///PALMARES/// */

.wrapmidsecfooter {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .wrapmidsecfooter {
    gap: 49vh;
  }
}

.midsectioncontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(images/lobosbgEDIT.png);
}

.midsectioncontent {
  padding-top: 15rem;
  padding-right: 9rem;
  padding-left: 9rem;
  padding-bottom: 10rem;
}

@media (max-width: 500px) {
  .midsectioncontent {
    border: 6px solid black;
    width: 81%;
    padding: 0;
    margin-top: 10vh;
  }
}

.midsectiontitulo {
  font-family: "americancaptain";
  color: #ededed;
  text-align: center;
  font-size: 120px;
  max-width: 960px;
  text-shadow: 0px 0px 30px #000000;
}

@media (max-width: 500px) {
  .midsectiontitulo {
    text-align: center;
    font-size: 6vh;
  }
}

.midsectionsubtitulo {
  text-align: center;
  font-size: 28px;
  padding-bottom: 10px;
}

@media (max-width: 500px) {
  .midsectionsubtitulo {
    text-align: center;
    font-size: 1.5vh;
    padding-bottom: 10px;
  }
}

.years {
  font-family: "gabarito";
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 60rem;
  color: #eadfb5;
}

@media (max-width: 500px) {
  .years {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }
}

/* Dropdown Button */
.yearnumber {
  font-family: "americancaptain";
  background-color: #0f0f0f;
  color: #eadfb5;
  padding: 16px;
  font-size: 48px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
}

@media (max-width: 500px) {
  .yearnumber {
    font-size: 3vh;
    font-weight: 800;
  }
}

/* Dropdown button on hover & focus */
.yearnumber:hover,
.yearnumber:focus {
  background-color: #331c1c;
}

/* The container <div> - needed to position the dropdown content */
.yearlist {
  position: relative;
  display: inline-block;
}

.yearcontent > hr {
  width: 350px;
  margin-bottom: 4px;
}

@media (max-width: 500px) {
  .yearcontent > hr {
    width: 56vw;
  }
}

.categoria > ul {
  padding: 0;
}

.year2024content {
  display: block;
  background-color: #1a1a1a;
  min-width: 160px;
  z-index: 1;
}

.year2023content {
  display: none;
  background-color: #1a1a1a;
  min-width: 160px;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.year2022content {
  display: none;
  background-color: #1a1a1a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.year2021content {
  display: none;
  background-color: #1a1a1a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.hide {
  display: none;
}

.fuerza {
  font-family: "americancaptain";
  font-size: 40px;
  font-weight: bold;
  background-color: #2a2c2d;
  width: 320px;
  padding: 12px 16px;
}

@media (max-width: 500px) {
  .fuerza {
    font-size: 3vh;
    width: 48vw;
  }
}

.primeraFuerza2023Container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.segundaFuerza2023Container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.primeraFuerza2024Container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.segundaFuerza2024Container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Container2022 {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Container2021 {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.categoria {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .categoria {
    font-size: 2.3vh;
  }
}

.categoria > ul {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media (max-width: 500px) {
  .categoria > ul {
    font-size: 1.5vh;
  }
}
.firstplace {
  list-style-image: url("palmares/images/goldmedal.png");
}
.secondplace {
  list-style-image: url("palmares/images/silvermedal.png");
}
.thirdplace {
  list-style-image: url("palmares/images/bronzemedal.png");
}
.fourthplace {
  list-style-image: url("palmares/images/fourth.png");
}
.footerTest {
  width: 100%;
  height: 300px;
  background-color: brown;
}

/* UNETE */

.midSectionWrapper {
  display: grid;
  grid-template-rows: 16rem 30rem 25rem 15rem 40rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: gray;
  height: 245vh;
  width: 100vw;
  background-image: url(images/lobosbgaltern2UPSCALED.jpeg);
}

.uneteHeroContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.8fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7;
  color: #ededed;
  text-shadow: 0px 0px 15px #000;
  font-size: 4rem;
  font-family: "americancaptain";
}

.uneteHero {
  max-width: 38rem;
}

.uneteInfoContainer {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #ededed;
  box-shadow: 0px 7px 20px 1px #000000 inset;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.uneteInfo {
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 2rem;
  text-align: justify;
  font-style: italic;
  padding-right: 3rem;
  padding-left: 3rem;
}

.uneteBeneficiosHeroContainer {
  grid-row-start: 4;
  grid-column-start: 4;
}

.beneficiosHero {
  color: #ededed;
  font-size: 4rem;
  text-shadow: 0px 0px 15px #000;
  font-family: "americancaptain";
  padding-top: 6rem;
}

.beneficiosContainer {
  /* background-color: #ededed; */
  background-color: #00000055;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 7;
}

.beneficiosList {
  display: flex;
  flex-direction: column;
  color: white;
  list-style-type: none;
  font-size: 1.5rem;
  width: 70rem;
  gap: 1.8rem;
  text-shadow: 0px 0px 4px #000;
}

/* VALORES */

.midSectionWrapperValores {
  display: grid;
  grid-template-rows: 14rem 8rem 52rem 25rem;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(images/lobosbgalternblack.jpeg);
  height: 245vh;
  width: 100vw;
}

.tituloValores {
  font-size: 5rem;
  text-align: center;
  font-family: "americancaptain";
  color: #ededed;
  text-shadow: 0px 0px 8px #000;
  grid-row-start: 2;
  grid-column-start: 2;
}

.infoValores {
  font-size: 1.5rem;

  text-align: justify;
  color: #ededed;
  text-shadow: 0 0 4px black;
  background-color: #00000055;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.boldtext {
  font-weight: 800;
}
